<div class="container mt-5">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/projects/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/skill">Skill</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/work">Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/contact" tabindex="-1" aria-disabled="true">Contact</a>
    </li>
  </ul>
</div>