<div class="container">
  <div class="row">
    <h1 class="main  col-11">
      <i class="fa fa-home"></i>     
      <%= link_to "SHIMODA PORTFORIO", root_path, class: "main__color" %>
    </h1>
    <h2 class="main col-1">
      <%= link_to("https://twitter.com/") do %>
      <i class="fa fa-twitter"></i>
      <% end %>
    </h2>
  </div>
</div>