<div class="container">
  <div class="row">
    <h1 class="main  col-10">
      <i class="fa fa-home"></i>     
      <%= link_to "SHIMOFOLIO", root_path, class: "main__color"%>
    </h1>
    <%# <h2 class="main col-2"> %>
      <%# <%= link_to "https://twitter.com/", :target=>["_blank"] do %> 
        <%# <i class="fa fa-twitter"></i> %>
      <%# <% end %> 
      <%# <a class="github"><%= link_to "https://github.com/shohei-shimoda?tab=repositories", :target=>["_blank"] do %> 
        <%# <i class="fa fa-github"></i> %>
      <%# <% end %></a> 
    <%# </h2> %>
  </div>
</div>
