<div class="css-fade1">

<%= render partial: "header" %>

<div class="container">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link disabled" href="/projects/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/skill">Skill</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/work">Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/contact" tabindex="-1" aria-disabled="true">Contact</a>
    </li>
  </ul>
</div>

<%# ここから下がメイン %>
<div class="container">
  <h2 class="aboutheader">About</h2>
  <p class="mycomment">
  2019年4月に新卒で不動産管理会社に入社。
  <br>
  2019年10月に退職し、プログラミングスクール(アウトプット重視の600時間学習）に通う。
  <br>
  2020年1月にプログラミングスクールを卒業し、東京で就職活動を行う。
  </p>
  <div class="my">
    <div class="my__myprofile pr-5">
      <%= image_tag 'mypicture4.jpg', height:160,width:160%>
    </div>
    <div class="my__introduction">
      名前：下田 翔平（しもだ しょうへい）<br>
      所在地：愛知県<br>
      お問い合わせ：n65.shimdoa.shohei@gmail.com<br>
      名称：SHIMOFOLIO<br>
      事業内容：特になし<br>
      趣味：ゴルフ・野球観戦・バレーボール・ギター<br>
      SNS：https://twitter.com/shimo_engineers
    </div>
  </div>
</div>

<div class="container mt-5">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link disabled" href="/projects/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/skill">Skill</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/work">Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/contact" tabindex="-1" aria-disabled="true">Contact</a>
    </li>
  </ul>
</div>

</div>