<div class="css-fade1" id="wrapper">

<%= render partial: "header" %>

<div class="container">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/projects/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/skill">Skill</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/work">Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/projects/contact" tabindex="-1" aria-disabled="true">Contact</a>
    </li>
  </ul>

  <h2 class="aboutheader">Contact</h2>
  ご意見・ご要望などお気軽にお問い合わせくださいませ。<br>
  お名前・貴社名・ご連絡先（電話番号）・お問い合わせ内容を本文に記入いただきますようお願い申し上げます。<br>
  下記メールアドレスをクリックして下さい。
  <p>
    <%= mail_to 'stel9527@yahoo.co.jp' %>
  </p>
</div>
<footer>
<div class="container mt-5" >
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/projects/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/skill">Skill</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/work">Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/projects/contact" tabindex="-1" aria-disabled="true">Contact</a>
    </li>
  </ul>
</div>
</footer>
</div>