<%= render partial: "header" %>

<div class="container">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/projects/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Skill</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact</a>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <div><img class="img-fluid rounded" src="https://picsum.photos/1410/400"></div>
</div>