.aboutheader {
  margin: 30px 0 70px 0;
    font-size: 46px;
    text-align: left;
    font-family: 'Lato', sans-serif;
}
.mycomment {
  margin-bottom: 30px;
}

.my {
  display: flex;
  margin-bottom: 100px;
}

// 項目を最下部にするため
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}