// 画像にカーソルを置くと白くなるCSS
img:hover {
  opacity: 0.75;
}

// 画像にカーソルを置くと指が変わるCSS
.imagezone {
cursor: pointer;
}
 
// 画像にカーソルを置くと浮くCSS
.imageup:hover{	box-shadow: 0 10px 15px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);/*浮いた時の影*/	transform: translateY(-3px);/*浮く高さ*/	transition: 0.3s;/*浮く速さ（秒）*/	background: rgba(238,238,238,.4);/*浮いた時の背景色（なくてもよい）*/	}

// フェードイン
.css-fade1 {
  // アニメーション設定
  animation-name: fade-in1;
  animation-duration: 2s; //アニメーション時間
  animation-timing-function: ease-out; //アニメーションさせるイージング
  animation-delay: 0s; //アニメーション開始させる時間
  animation-iteration-count: 1; //繰り返し回数
  animation-direction: normal; //往復処理をするかどうか
  animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
}
// アニメーション
@keyframes fade-in1 {
  0% {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}



